   .profile {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.profile-li {
  float: left;
}

.profile-li:last-child {
  border-right: none;
}

.profile-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.profile-li a:hover:not(.active) {
  background-color: #111;
}

a.active-2 {
      text-decoration: underline !important;
text-underline-offset: 13px;
}

.active-2 {
/*  background-image: linear-gradient( #9D50BB, #6E48AA); */
}

.member {
    margin-top: 17%;
}

/* video css */ 

/*
  AUTO GRID
  Set the minimum item size with `--auto-grid-min-size` and you'll
  get a fully responsive grid with no media queries.
*/
.auto-grid {
  --auto-grid-min-size: 25rem;
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

iframe {
  width: -webkit-fill-available;
 /* height: 250px;*/
 height: 500px;
}

.video {
  padding: 1rem 1rem;
  text-align: center;
  font-size: 1.2rem;
 /* background: #eb4d4b; */
  color: #ffffff;
  list-style: none;
}

#cust-img-fluid {
   width: 60%;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    float: right;
}

/* mobile */
@media (max-width: 600px) {
#cust-img-fluid {
    float:left;
    width: 100%;

  .btn {
    margin: 2px 2px 2px 2px;
    margin-top: 13px;
}
.panel-group{
    margin-top: 7%;
}
.auto-grid{
    padding: 0;
}
.show,
.filterDiv{
    width: fit-content;
}


}
